$teal: #84bae0;

.medals-section {
  text-align: center;
}

.section-title {
  display: inline-block;
  background: $teal;
  color: #fff;
  padding: .5rem 1.25rem;
  border-radius: 1rem; 
  font-weight: 600;
  margin: 0 auto;
}

.stat-card {
  background: #fff;
  border: 2px solid $teal;
  border-radius: .75rem;
  padding: 1rem 1.25rem;
}

.retour {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54.39px;
  width: 54.39px;
  border-radius: 50%;
  border: 2px solid $teal;
  color: $teal;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.2s ease;

  &:hover {
    background-color: $teal;
    border: 2px solid $teal;
    color: #fff;
    transform: translateX(-3px);
  }

  i {
    pointer-events: none; // permet de cliquer sur toute la zone
  }
}

.label {
  color: #6c757d;
  margin-bottom: .25rem;
}

.value {
  font-weight: 700;
  font-size: 1.125rem;
}

.chart-wrapper {
  overflow: visible !important;
  position: relative;
  z-index: 0;
}

.chart-container {
  display: flex;
  justify-content: center;   /* centre horizontalement */
  align-items: center;       /* centre verticalement si hauteur fixe */
  width: 100%;        /* espace autour */
  overflow: visible !important;
}

/* Forcer le tooltip de ngx-charts à apparaître au-dessus de tout */
ngx-tooltip-content {
  z-index: 9999 !important;
  pointer-events: none; /* évite les blocages au survol */
}