<section class="medals-section container my-4">
  <h2 class="section-title">Medals per Country</h2>

  <div class="row justify-content-center g-3 mt-3">
    <div class="col-10 col-sm-6 col-md-4 col-lg-3">
      <div class="stat-card">
        <div class="label">Number of JOs</div>
        <div class="value">{{ (nbJos$ | async) }}</div>
      </div>
    </div>

    <div class="col-10 col-sm-6 col-md-4 col-lg-3">
      <div class="stat-card">
        <div class="label">Number of countries</div>
        <div class="value">{{ (nbCountries$ | async) }}</div>
      </div>
    </div>
  </div>
</section>

<section class="chart-wrapper">
  <div class="chart-container">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorSchemeName"
      [results]="chartData$ | async"
      [gradient]="gradient"
      [legend]="showLegend"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      [tooltipDisabled]="false"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)">
    </ngx-charts-pie-chart>
  </div>
</section>

